[submodule "deps/src/github.com/nats-io/gnatsd"]
	path = deps/src/github.com/nats-io/gnatsd
	url = https://github.com/nats-io/gnatsd
[submodule "deps/src/github.com/nats-io/nuid"]
	path = deps/src/github.com/nats-io/nuid
	url = https://github.com/nats-io/nuid
[submodule "nats-server"]
	path = nats-server
	url = https://github.com/nats-io/nats-server
