Source: gnatsd
Section: devel
Priority: extra
Maintainer: Aleksey Morarash <aleksey.morarash@envisionx.co>
Build-Depends: debhelper, dh-systemd, golang
Standards-Version: 4.1.3
Homepage: https://github.com/EnvisionX/gnatsd-debian

Package: gnatsd
Architecture: any
Description: NATS Messaging Server
